{{define "main.tmpl"}}
    {{template "base" .}}
{{end}}

{{define "content"}}
{{/*{{define "main.content"}}*/}}
    <section class="card">
        HOA complaints service by Vladislav Severov aka lein3000 <br>
        RZHAKA!!!!!
    </section>
{{end}}
